---
layout: default
title: Careers
section_id: careers
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>Open Positions</h2>
      <p>We are actively seeking amazing people to work for an amazing company</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  <div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for job in site.data.jobs %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='member centered-text {{active_class}}'>
            <h3>{{job.position}}</h3>
            <p class='position'>{{job.location}}</p>
            <p>
              {{job.blurb}}
            </p>
            <div>
              <a href="{{ job.link }}">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='three spacing'></div>  

    <div class='three spacing'></div>
    <div class='three spacing'></div>
  </div>
</div>
</div>